@model MnCalculator.Models.CalculatorResult
@{
    ViewBag.Title = "Minnesota Child Support Calculator - Bill HF2889";
}

<h2>Calculator Results</h2>
<div class="form-horizontal">
    <div class="col-md-12">
        <dl class="dl-horizontal">
            <dt>Parent A Name</dt>
            <dd>@Html.DisplayFor(model => model.ParentA.Name)</dd>

            <dt>Parent B Name</dt>
            <dd>@Html.DisplayFor(model => model.ParentB.Name)</dd>

            <dt>@Html.DisplayNameFor(model => model.CaseNumber)</dt>
            <dd>@Html.DisplayFor(model => model.CaseNumber)</dd>

            <dt>@Html.DisplayNameFor(model => model.CourtFileNumber)</dt>
            <dd>@Html.DisplayFor(model => model.CourtFileNumber)</dd>
        </dl>
    </div>

    <div class="row resultRow headerRow">
        <span class="col-md-6 col-sm-6 col-xs-6">&nbsp;</span>
        <span class="col-md-2 col-sm-2 col-xs-2">Parent A</span>
        <span class="col-md-2 col-sm-2 col-xs-2">Parent B</span>
        <span class="col-md-2 col-sm-2 col-xs-2">Combined</span>
    </div>
    <div class="row resultRow">
        <span class="col-md-6 col-sm-6 col-xs-6">@Html.DisplayNameFor(model => model.ParentA.GrossIncome)</span>
        <span class="col-md-2 col-sm-2 col-xs-2">$@Html.DisplayFor(model => model.ParentA.GrossIncome)</span>
        <span class="col-md-2 col-sm-2 col-xs-2">$@Html.DisplayFor(model => model.ParentB.GrossIncome)</span>
        <span class="col-md-2 col-sm-2 col-xs-2">$@Html.DisplayFor(model => model.Combined.GrossIncome)</span>
    </div>
    <div class="row resultRow">
        <span class="col-md-6 col-sm-6 col-xs-6">@Html.DisplayNameFor(model => model.ParentA.Overnights)</span>
        <span class="col-md-2 col-sm-2 col-xs-2">@Html.DisplayFor(model => model.ParentA.Overnights)</span>
        <span class="col-md-2 col-sm-2 col-xs-2">@Html.DisplayFor(model => model.ParentB.Overnights)</span>
        <span class="col-md-2 col-sm-2 col-xs-2">@Html.DisplayFor(model => model.Combined.Overnights)</span>
    </div>
    <div class="row resultRow">
        <span class="col-md-6 col-sm-6 col-xs-6">@Html.DisplayNameFor(model => model.ParentA.PercentageOfParentingTime)</span>
        <span class="col-md-2 col-sm-2 col-xs-2">@Html.DisplayFor(model => model.ParentA.PercentageOfParentingTime)%</span>
        <span class="col-md-2 col-sm-2 col-xs-2">@Html.DisplayFor(model => model.ParentB.PercentageOfParentingTime)%</span>
        <span class="col-md-2 col-sm-2 col-xs-2">@Html.DisplayFor(model => model.Combined.PercentageOfParentingTime)%</span>
    </div>

    <div class="row resultRow">
        <span class="col-md-6 col-sm-6 col-xs-6">@Html.DisplayNameFor(model => model.ParentA.PicsAmount)</span>
        <span class="col-md-2 col-sm-2 col-xs-2">$@Html.DisplayFor(model => model.ParentA.PicsAmount)</span>
        <span class="col-md-2 col-sm-2 col-xs-2">$@Html.DisplayFor(model => model.ParentB.PicsAmount)</span>
        <span class="col-md-2 col-sm-2 col-xs-2">$@Html.DisplayFor(model => model.Combined.PicsAmount)</span>
    </div>

    <div class="row resultRow">
        <span class="col-md-6 col-sm-6 col-xs-6">@Html.DisplayNameFor(model => model.ParentA.PicsPercentage)</span>
        <span class="col-md-2 col-sm-2 col-xs-2">@Html.DisplayFor(model => model.ParentA.PicsPercentage)%</span>
        <span class="col-md-2 col-sm-2 col-xs-2">@Html.DisplayFor(model => model.ParentB.PicsPercentage)%</span>
        <span class="col-md-2 col-sm-2 col-xs-2">@Html.DisplayFor(model => model.Combined.PicsPercentage)%</span>
    </div>

    <div class="row resultRow">
        <span class="col-md-6 col-sm-6 col-xs-6">@Html.DisplayNameFor(model => model.CombinedBasicSupportObligation)</span>
        <span class="col-md-2 col-sm-2 col-xs-2">----</span>
        <span class="col-md-2 col-sm-2 col-xs-2">----</span>
        <span class="col-md-2 col-sm-2 col-xs-2" style="font-weight: bold; color: red">@Html.DisplayFor(model => model.CombinedBasicSupportObligation)</span>
    </div>

    <div class="row resultRow">
        <span class="col-md-6 col-sm-6 col-xs-6">@Html.DisplayNameFor(model => model.ParentA.ProRataBasicSupportObligation)</span>
        <span class="col-md-2 col-sm-2 col-xs-2">$@Html.DisplayFor(model => model.ParentA.ProRataBasicSupportObligation)</span>
        <span class="col-md-2 col-sm-2 col-xs-2">$@Html.DisplayFor(model => model.ParentB.ProRataBasicSupportObligation)</span>
        <span class="col-md-2 col-sm-2 col-xs-2">$@Html.DisplayFor(model => model.Combined.ProRataBasicSupportObligation)</span>
    </div>
</div>
<br/>
<p>Note: Red text denotes a hard-coded fictious number.  Still a work in progress.</p>
